.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
      .button { 
        border: 0.1rem outset black;
        border-radius: 9999px;
        line-height: 2.5;
        padding: 0 50px;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
      
  }
  
  .button:hover { 
        line-height: 2.5;
        padding: 0 50px;
        border-radius: 9999px;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;

  
  }